html
    head
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
        link(rel="icon" href="../public/icon.png")
        link(rel="stylesheet" href="../public/css/custom.css")
        title   Books Manager
    body
        .containera
            nav.navbar.navbar-dark.bg-dark
                a(href="/" class="nav-item") 
                  h1 MANAGER BOOKS
                div
                    ul.navbar-nav.d-flex.flex-row
                        li(class="nav-item ml-2")
                            a(href="/books" class="nav-link") BOOKS
                        li(class="nav-item ml-3")
                            a(href="/users" class="nav-link") USERS
                        li(class="nav-item ml-3")
                            a(href="/transactions" class="nav-link") TRANSACTIONS
                        li.nav-item.ml-3
                            a(href="/products" class="nav-link") PRODUCTS
                        li.nav-item.ml-3
                        if cart
                            a(href="/products" class="nav-link")="CART( " + cart + " )"
                        if !user    
                            li(class="nav-item ml-3")
                                a(href="/auth/login" class="nav-link") LOGIN
                        if user
                            li(class="nav-item ml-3")
                                a(href="/profile" class="nav-link")=user.name
        div(class="container")
            block content
           
                                

                                    