H1 ADD USER
form(action="/users/add" method="POST")
    span    NAME
    span &nbsp    
    input(type="text" name="name")
    
    span   SDT
    span &nbsp    
    input(type="text" name="phone")
    span &nbsp
    button Add
h1  Thông Tin User

table
    tr
        th Name
        th SDT
    each obj in users
        tr
            td=obj.name
                span &nbsp
            td=obj.phone
                span &nbsp
            td
                a(href="users/edit/" + obj.id) Sửa 
                span &nbsp               
            td
                a(href="users/delete/" + obj.id) Xóa 
a(href="/") HOME PAGE 